body, html {
    background-color: #444;
}

.board-title {
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: x-large;
}

.sticky-title {
    color: #080;
}

a {
    text-decoration: none;
    color: lightblue;
}

a#visited {
    text-decoration: none;
    color: lightblue;
}

.text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.normal-text {
    color: #ddd;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.darker-text {
    color: #AAA;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quote-text {
    color: #41b76b;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#top-menu {
    border: 1px solid #888;
    border-radius: 3px;
    padding: 15px;
}

#top-menu-admin {
    position: absolute;
    right: 25px;
    display: inline;
}

#top-menu-admin-area {
    display: none;
}

#top-menu a {
    margin-right: 5px;
    font-size: 18px;
}

#top-menu-left {
    display: inline-block;
}

.post {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #888;
    border-radius: 1px;
}

.post-header {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.post-body {
    margin-top: 0;
    margin-left: 20px;
}

.post-reply {
    margin-left: 40px;
    margin-top: 0;
}

#reply-box {
    position: fixed;
    padding: 10px;
    right: 15px;
    bottom: 15px;
    border: 1px solid #888;
    border-radius: 2px;
    z-index: 1;
    background-color: #444;
}

.reply-title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.reply-header {
    display: inline;
    margin: 0 auto;
}

.reply-item {
    display: block;
    margin-top: 5px;
}

#reply-content {
    width: 99%;
    resize: none;
    min-height: 75px;
}

#reply-submit {
    margin: 0 auto;
    margin-top: 5px;
}